/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.detail-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.detail {
  box-shadow: 0 0.4px 0.9px #3D3D3D;
  border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}

.location {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 10px;
}

.city-search-container {
    display: flex;
    justify-content: center;
}

.city-search {
    margin-top: 20px;
    font-size: 2 rem;
    outline: none;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.9px #3D3D3D;
    padding: 5px 15px;
    width: 80%;
}

.general-information {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 1.5rem;
}

.header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/* .container {
  box-shadow: 0 2px 6px #3D3D3D;
} */